<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Captain Login</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form name="captainform" action="/captain" method="post">
					<div class="form-group">
						<label for="soeid">SOEID</label>
						<input type="text" id="soeidCaptain" name="soeid" class="form-control" placeholder="Enter your SOEID"/>
						<div id="soeidCaptainError" style="color:red"></div>
					</div>
					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" id="passwordCaptain" name="password" class="form-control" placeholder="Enter your password"/>
						<div id="passwordCaptainError" style="color:red"></div>
					</div>
					
					<div class="modal-footer">
						<input type="submit" class="btn btn-primary" onclick="return validateCaptain()" value="Submit">
					</div>
				</form>
		</div>
	</div>
</div>
</div>
