<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Register</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form name="form" action="/players" method="post">
					<div class="form-group">
						<label for="soeid">SOEID</label>
						<input type="text" id="soeid" name="soeid" class="form-control" placeholder="Enter your SOEID"/>
						<div id="soeidError" style="color:red"></div>
					</div>					
					<div class="form-group">
						<label for="name">Name</label>
						<input type="text" id="name" name="name" class="form-control" placeholder="Enter your name"/>
						<div id="nameError" style="color:red"></div>
					</div>
					<div class="form-group">
						<label for="contact">Contact</label>
						<input type="text" id="contact" name="contact" class="form-control" placeholder="Enter your contact"/>
						<div id="contactError" style="color:red"></div>
					</div>
					
					<div class="form-group">
						<label>Gender</label>&nbsp;
						<input type="radio" name="gender" id="male" name="male" value="M" checked> Male
						<input type="radio" name="gender" id="female" name="female" value="F"> Female
					</div>
					
					<div class="form-group">
						<label>Availability</label>&nbsp;
							<input type="checkbox" id="weekOne" name="week" value="1" checked>Week 1
							<input type="checkbox" id="weekTwo" name="week" value="2">Week 2
							<input type="checkbox" id="weekThree" name="week" value="3">Week 3
							<input type="checkbox" id="weekFour" name="week" value="4">Week 4
							<div id="weekError" class="form-check-inline" style="color:red"></div>	
					</div>
					
					<div class="form-group">
						<label>Willing to be a Captain?</label>&nbsp;
						<input type="radio" name="captain" id="captainYes" name="captainYes" value="1" checked> Yes
						<input type="radio" name="captain" id="captainNo" name="captainNo" value="0"> No
					</div>
					
					<div class="modal-footer">
						<input type="submit" class="btn btn-primary" onclick="return validate()" value="Submit"/>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
