<html xmlns:th="http://www.thymeleaf.org">
<h2>Welcome Captain <span th:text = "${session.soeid}"> </span></h2>
<a href="/addRatings">Ratings</a>
<a href="/viewRatings">View Ratings</a>
<a href="/logout">Logout</a>
</html>