<head>
<meta charset="ISO-8859-1">
<title>Approve Captains</title>

</head>
<body>
<h2>Selected Captains</h2>
<table>
	<tr><th>SOEID</th><th>Name</th></tr>
	<tr th:each="s:${Players}">
		<td th:text="${s.id}"></td>
		<td th:text="${s.name}"></td>
	</tr>
	
</table>
<form name="form" action="/adminhome" method="get">
	<div class="modal-footer">
		<input type="submit" class="btn btn-primary" onclick="validate()" value="Approve"/>
				</div>
				</form>
</body>
