
<head>
<meta charset="ISO-8859-1">
<title>Assign Captains</title>

</head>
<body>
<h2>Please Select the captains</h2>
<table>
	<tr><th>SOEID</th><th>Name</th><th>Captain</th></tr>
	<tr th:each="s:${Players}">
		<td th:text="${s.id}"></td>
		<td th:text="${s.name}"></td>
		<td input type="checkbox" id="chekHead" /> </td>
		
	</tr>
	
</table>
<form name="form" action="/adminhome" method="get">
	<div class="modal-footer">
		<input type="submit" class="btn btn-primary" onclick="validate()" value="Submit"/>
				</div>
				</form>
</body>
